/cmake-build-debug/autocomplete.cbp
/cmake-build-debug/autocomplete.exe
/cmake-build-debug/autocomplete.ilk
/cmake-build-debug/autocomplete.pdb
/cmake-build-debug/CMakeFiles/autocomplete.dir/build.make
/cmake-build-debug/CMakeFiles/autocomplete.dir/C.includecache
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/autocomplete.dir/cmake_clean.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.19.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.20.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.exe
/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.exe
/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.obj
/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.obj
/cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.19.2/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.20.2/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.19.2/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/3.20.2/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/autocomplete.dir/depend.internal
/cmake-build-debug/CMakeFiles/autocomplete.dir/depend.make
/cmake-build-debug/CMakeFiles/autocomplete.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/autocomplete.dir/embed.manifest
/cmake-build-debug/CMakeFiles/autocomplete.dir/flags.make
/cmake-build-debug/CMakeFiles/autocomplete.dir/intermediate.manifest
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/autocomplete.dir/main.c.obj
/cmake-build-debug/Makefile
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/autocomplete.dir/manifest.rc
/cmake-build-debug/CMakeFiles/autocomplete.dir/manifest.res
/cmake-build-debug/CMakeFiles/autocomplete.dir/objects1.rsp
/cmake-build-debug/CMakeFiles/autocomplete.dir/progress.make
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/CMakeFiles/autocomplete.dir/trie.c.obj
/cmake-build-debug/CMakeFiles/autocomplete.dir/vc140.pdb
